# Pandas Module

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pandas Data Type
    - Pandas Series
    - Pandas Data Frame (like Excel Table)

# Pandas Series (ordered sequence of element)

In [2]:
# G7 Countries population data


g7_pop = pd.Series([35.467,63.951,80.948,60.665,127.861,64.511,318.523])
g7_pop

0     35.467
1     63.951
2     80.948
3     60.665
4    127.861
5     64.511
6    318.523
dtype: float64

In [3]:
# Naming the Data Seires

g7_pop.name = "G7 Population in millions"
g7_pop

0     35.467
1     63.951
2     80.948
3     60.665
4    127.861
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [4]:
# Check the values 
g7_pop.values

array([ 35.467,  63.951,  80.948,  60.665, 127.861,  64.511, 318.523])

## Inedxing

In [5]:
# Indexing (Similar python list)

g7_pop[1]

63.951

In [6]:
# Changing index of the sereis


g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
    
    
]

g7_pop

Canada             35.467
France             63.951
Germany            80.948
Italy              60.665
Japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [7]:
# Creating pandas Series using dictionary
pd.Series({
    'Canada'   :  35.467,
    'France'   :  63.951,
    'Germany'  :  80.948,
    'Italy'    :  60.665,
    'Japan'    :  127.861,
    'United Kingdom' :   64.511,
    'United States'  :   318.523,
    
    
})

Canada             35.467
France             63.951
Germany            80.948
Italy              60.665
Japan             127.861
United Kingdom     64.511
United States     318.523
dtype: float64

## Selecting Data using index
- pandas series are orderded
- After nameing index, you can also access the data using numerical index such as `g7_pop[0]`

In [8]:
# Using Index to show data

g7_pop['France']

63.951

In [9]:
g7_pop[1]

63.951

In [10]:
g7_pop.iloc[1]

63.951

## Accessing Multiple element

In [11]:
g7_pop[['Canada', 'France']]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

In [12]:
g7_pop[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

# Slicing
- **Slicing also work, but the upper limit is also included**

In [13]:
# Slicing using index

g7_pop['Canada': 'Japan']

Canada      35.467
France      63.951
Germany     80.948
Italy       60.665
Japan      127.861
Name: G7 Population in millions, dtype: float64

In [14]:
g7_pop[: 'Japan']

Canada      35.467
France      63.951
Germany     80.948
Italy       60.665
Japan      127.861
Name: G7 Population in millions, dtype: float64

In [15]:
g7_pop['Canada': ]

Canada             35.467
France             63.951
Germany            80.948
Italy              60.665
Japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

# Operation

In [26]:
# Multiplication
g7_pop * 1000000

Canada             35467000.0
France             63951000.0
Germany            80948000.0
Italy              60665000.0
Japan             127861000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [27]:
# Comparism

g7_pop > 70 # Return boolean

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [30]:
# Selecting data based on condition
g7_pop[g7_pop > 70]

Germany           80.948
Japan            127.861
United States    318.523
Name: G7 Population in millions, dtype: float64

In [33]:
# Finding Summary
g7_pop.describe()

count      7.000000
mean     107.418000
std       97.277163
min       35.467000
25%       62.308000
50%       64.511000
75%      104.404500
max      318.523000
Name: G7 Population in millions, dtype: float64

#  Pandas Data Frame